<footer class="bg-dark text-center text-white mt-5">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/j-leo26" role="button">
        <i class="fab fa-github"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <!-- Más redes si quieres -->
    </section>

    <section class="mb-4">
      <p>Portafolio desarrollado por Jose Chavarro © 2025</p>
    </section>
  </div>
</footer>
